.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 400px;
}

.calendar .header {
  background-color: lightblue;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: black;
  font-weight: 700;
  display: flex;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .body {
  border: 1px solid blue;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}
